{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "semi": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "trailingComma": "all"
}
